{
    "web": {
        "realm_public_key": "{PUBLIC_KEY}",
        "issuer": "{KEYCLOAK_URL}/realms/{REALM}",
        "auth_uri": "{KEYCLOAK_URL}/realms/{REALM}/protocol/openid-connect/auth",
        "client_id": "{CLIENT_ID}",
        "client_secret": "{CLIENT_SECRET}",
        "redirect_uris": [
            "{SUPERSET_URL}/*"
        ],
        "userinfo_uri": "{KEYCLOAK_URL}/realms/{REALM}/protocol/openid-connect/userinfo",
        "token_uri": "{KEYCLOAK_URL}/realms/{REALM}/protocol/openid-connect/token",
        "token_introspection_uri": "{KEYCLOAK_URL}/realms/{REALM}/protocol/openid-connect/token/introspect"
  }
}
